<form #loginForm="ngForm" (ngSubmit)="handleFormSubmit(loginForm)">
    <div class="mb-3">
        <label for="Email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Email" name="email" ngModel required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        @if (email.invalid && email.touched) {
            @if (email.errors?.['required']) { 
               <div id="emailHelp" class="form-text text-danger">Email is required</div>
        }
        @if (email.errors?.['pattern']) { 
            <div id="emailHelp" class="form-text text-danger">Invalid email format</div>
     }
        }
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="password" ngModel required #password="ngModel">
        @if (password.invalid && password.touched) {
            <div id="passwordHelp" class="form-text text-danger"> Password is required</div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>

</form>